CSS Reset



body {
	font-family: "Open Sans", sans-serif;
}

nav {
	background: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	position: sticky;
	top: 0px;
	z-index: 1;
	text-align: right;
}

/*nav-log, right-nav*/
ul li, ul div {
	display: inline-block;
}
ul li {
	margin-top: 0.6rem;
	margin-left: 4rem;
}

.nav-logo, .right-nav {
	display: inline-block;
}



.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	width: 150px;
	font-size: .8rem;
	padding: 1rem;
}

#bg-image {
	min-height: 50vh;
/*	background-color: gray;*/
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center top;
	text-align: right;
	background-repeat: no-repeat;

	background-attachment: fixed:;

}

.title {
	color: white;
	text-align: right;
	
	font-size: 3rem;
	padding-right: 5rem;
	align-content: right;
	padding-left: 10%;
	padding-right: 10%;

}

.subtitle{
	color: white;
	text-align: right;
	vertical-align: text-top;
	font-size: 1rem;
	padding-right: 5rem;
	padding-left: 10%;
	padding-right: 10%;
}

.front-bg {
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	width: 150px;
	font-size: .8rem;
	padding: 1rem;
	margin-top: 5rem;
	margin-right: 10rem;

}

.pre-footer{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.title-2 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: Zilla Slab;
	margin-top: 20px;
}

.intro-description {
	text-align: center;
	font-size: 10px;
}

.prefooter-description {
	text-align: center;
	font-size: 10px;
	margin-bottom: 20px;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 50px;
	font-size: 1rem;
	padding: 1rem;
	width: 150px;
	font-size: .8rem;
	padding: 1rem;

}


footer {
	padding: 0.7rem;

}

footer {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-align: center;
	font-size: 1rem;
}